#main {
    flex-grow: 10;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem;
    border-top: 2px solid black;
    gap: 1rem;
}

.card {
    height: 17rem;
    width: 14rem;
}

.card * {
    pointer-events: none;
}

.card:hover {
    background-color: rgb(187, 187, 187);
}

img {
    max-width: 14rem;
}